body {
  background: linear-gradient(
    to bottom,
    #051937,
    #133760,
    #1d598d,
    #1f7dbb,
    #12a4eb
  );
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 100vh;
}

main {
  background-color: #051937;
  text-align: center;
  height: 100%;
}

header {
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  background-color: #051937;
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

.botoes-pesquisa {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 20%;
  margin: auto;
}

input {
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.2rem;
}

button {
  background-color: rgb(0, 7, 44);
  margin: 0.2rem 0.4rem;
  padding: 0 0.4rem;
  cursor: pointer;
  border-radius: 0.5rem;
  text-transform: uppercase;
  transition: 1s;
}

button:hover {
  background-color: #12a4eb;
  color: #000;
  letter-spacing: 0.1rem;
}

.lista-cadastro,
.resultado-filtrado {
  margin: 0.2rem auto;
  padding: 1rem;
  width: 20%;
  border: 0.1rem solid #000;
  border-radius: 0.5rem;
  text-align: center;
}

.lista-cadastro li {
  text-align: center;
}

.cadastros {
  background: linear-gradient(
    to bottom,
    #051937,
    #133760,
    #1d598d,
    #1f7dbb,
    #12a4eb
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  padding-top: 2rem;
}

fieldset {
  padding: 1rem;
  background-color: #051937;
}

legend {
  background-color: #051937;
}

select {
  width: 20%;
  text-align: center;
  border-radius: 1rem;
  transition: 1s;
  color: #000;
}

select:hover {
  background-color: #12a4eb;
  color: #000;
  letter-spacing: 0.1rem;
}

.option {
  width: 3rem;
  color: #000;
}

option:active {
  text-align: center;
}

.resultado-filtrado {
  padding: 1rem;
}

ol {
  background-color: #133760;
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
}
